__pycache__/
*.pyc
*.pkl
*.pickle
*.pt
*.pth
*.bin
*.ckpt
*.npy
*.npz
*.gif
*.png
*.jpg
*.jpeg

eval/utils/data/
figs/

logit_lens*.txt
*.log


visual/
llava-bench-in-the-wild/
MME_Benchmark_release_version/
output/
eval/
eval_tool/
data/


.DS_Store
.vscode/
